.button {
    outline: none;
    border: none;
    min-height: 51px;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.button_primary {
    background: #fe6a6b;
    padding: 10px 24px;
    line-height: 30px;
    font-size: 22px;
    color: #faf9fa;
}

.button_secondary {
    background-color: inherit;
    border: 2px solid #432e30;
    padding: 12px 40px;
    color: #432e30;
    font-size: 20px;
    line-height: 27px;
}

.button:hover {
    background-color: #f2d9e6;
}

.button:active {
	background-color: #f2d9e6;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button:focus {
	background-color: #f2d9e6;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

