.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: block;
    padding: 10px 0;
    font-size: 0;
}

[class*="col-"] {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;

    font-size: initial;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

/*Экстрамалые девайсы («портретные телефоны», < 576px)*/
@media (max-width: 575.98px) { 
    .col-1 { width: 8.33333333%; }
    .col-2 { width: 16.66666667%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.3333%; }
    .col-5 { width: 41.66666667%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33333333%; }
    .col-8 { width: 66.66666667%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33333333%; }
    .col-11 { width: 91.66666667%; }
    .col-12 { width: 100%; }

    .offset-0 { margin-left: 0; }
    .offset-1 { margin-left: 8.33333333%; ; }
    .offset-2 { margin-left: 16.66666667%; }
    .offset-3 { margin-left: 25%; }
    .offset-4 { margin-left: 33.3333%; }
    .offset-5 { margin-left: 41.66666667%; }
    .offset-6 { margin-left: 50%; }
    .offset-7 { margin-left: 58.33333333%; }
    .offset-8 { margin-left: 66.66666667%;  }
    .offset-9 { margin-left: 75% }
    .offset-10 { margin-left: 83.33333333%; }
    .offset-11 { margin-left: 91.66666667%; }
}

/* Малые девайсы («ландшафтные», >= 575px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .col-sm-1 { width: 8.33333333%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.3333%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-12 { width: 100%; } 

    .offset-sm-0 { margin-left: 0; }
    .offset-sm-1 { margin-left: 8.33333333%; ; }
    .offset-sm-2 { margin-left: 16.66666667%; }
    .offset-sm-3 { margin-left: 25%; }
    .offset-sm-4 { margin-left: 33.3333%; }
    .offset-sm-5 { margin-left: 41.66666667%; }
    .offset-sm-6 { margin-left: 50%; }
    .offset-sm-7 { margin-left: 58.33333333%; }
    .offset-sm-8 { margin-left: 66.66666667%;  }
    .offset-sm-9 { margin-left: 75% }
    .offset-sm-10 { margin-left: 83.33333333%; }
    .offset-sm-11 { margin-left: 91.66666667%; }    
}

/*Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .col-md-1 { width: 8.33333333%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.3333%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-12 { width: 100%; } 

    .offset-md-0 { margin-left: 0; }
    .offset-md-1 { margin-left: 8.33333333%; ; }
    .offset-md-2 { margin-left: 16.66666667%; }
    .offset-md-3 { margin-left: 25%; }
    .offset-md-4 { margin-left: 33.3333%; }
    .offset-md-5 { margin-left: 41.66666667%; }
    .offset-md-6 { margin-left: 50%; }
    .offset-md-7 { margin-left: 58.33333333%; }
    .offset-md-8 { margin-left: 66.66666667%;  }
    .offset-md-9 { margin-left: 75% }
    .offset-md-10 { margin-left: 83.33333333%; }
    .offset-md-11 { margin-left: 91.66666667%; }  
}

/* Большие девайсы (большие десктопы, >= 992px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .col-lg-1 { width: 8.33333333%; }
    .col-lg-2 { width: 16.66666667%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.3333%; }
    .col-lg-5 { width: 41.66666667%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33333333%; }
    .col-lg-8 { width: 66.66666667%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-12 { width: 100%; } 

    .offset-lg-0 { margin-left: 0; }
    .offset-lg-1 { margin-left: 8.33333333%; ; }
    .offset-lg-2 { margin-left: 16.66666667%; }
    .offset-lg-3 { margin-left: 25%; }
    .offset-lg-4 { margin-left: 33.3333%; }
    .offset-lg-5 { margin-left: 41.66666667%; }
    .offset-lg-6 { margin-left: 50%; }
    .offset-lg-7 { margin-left: 58.33333333%; }
    .offset-lg-8 { margin-left: 66.66666667%;  }
    .offset-lg-9 { margin-left: 75% }
    .offset-lg-10 { margin-left: 83.33333333%; }
    .offset-lg-11 { margin-left: 91.66666667%; }   
}

/* Большие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) { 
    .col-xl-1 { width: 8.33333333%; }
    .col-xl-2 { width: 16.66666667%; }
    .col-xl-3 { width: 25%; }
    .col-xl-4 { width: 33.3333%; }
    .col-xl-5 { width: 41.66666667%; }
    .col-xl-6 { width: 50%; }
    .col-xl-7 { width: 58.33333333%; }
    .col-xl-8 { width: 66.66666667%; }
    .col-xl-9 { width: 75%; }
    .col-xl-10 { width: 83.33333333%; }
    .col-xl-11 { width: 91.66666667%; }
    .col-xl-12 { width: 100%; } 

    .offset-xl-0 { margin-left: 0; }
    .offset-xl-1 { margin-left: 8.33333333%; ; }
    .offset-xl-2 { margin-left: 16.66666667%; }
    .offset-xl-3 { margin-left: 25%; }
    .offset-xl-4 { margin-left: 33.3333%; }
    .offset-xl-5 { margin-left: 41.66666667%; }
    .offset-xl-6 { margin-left: 50%; }
    .offset-xl-7 { margin-left: 58.33333333%; }
    .offset-xl-8 { margin-left: 66.66666667%;  }
    .offset-xl-9 { margin-left: 75% }
    .offset-xl-10 { margin-left: 83.33333333%; }
    .offset-xl-11 { margin-left: 91.66666667%; }
}






