.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: block;
    padding: 10px 0;
    font-size: 0;
}

.col {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;

    font-size: initial;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.col_1-12 { width: 8.33333333%; }
.col_2-12 { width: 16.66666667%; }
.col_3-12 { width: 25%; }
.col_4-12 { width: 33.3333%; }
.col_5-12 { width: 41.66666667%; }
.col_6-12 { width: 50%; }
.col_7-12 { width: 58.33333333%; }
.col_8-12 { width: 66.66666667%; }
.col_9-12 { width: 75%; }
.col_10-12 { width: 83.33333333%; }
.col_11-12 { width: 91.66666667%; }
.col_12-12 { width: 100%; }

.col_offset-0 { margin-left: 0; }
.col_offset-1 { margin-left: 8.33333333%; ; }
.col_offset-2 { margin-left: 16.66666667%; }
.col_offset-3 { margin-left: 25%; }
.col_offset-4 { margin-left: 33.3333%; }
.col_offset-5 { margin-left: 41.66666667%; }
.col_offset-6 { margin-left: 50%; }
.col_offset-7 { margin-left: 58.33333333%; }
.col_offset-8 { margin-left: 66.66666667%;  }
.col_offset-9 { margin-left: 75% }
.col_offset-10 { margin-left: 83.33333333%; }
.col_offset-11 { margin-left: 91.66666667%; }
