.container {
  max-width: 960px;
  width: 100%;
  border: 1px solid red;

  font-size: 0;
}

.col-1-3 {
  display: inline-block;
  width: 33.33%;
  height: auto;
  border: 1px solid #000;
  font-size: initial;

  padding: 0 10px;
}
