.heading {
	font-weight: 600;
	font-size: 50px;       /*Heading of the header*/
	line-height: 68px;
	color: #432e30;
}

.heading_center {
	text-align: center;
}

.heading_right {
	text-align: right;
}

.heading_paragraphs {
	display: inline-block;

	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	color: #432e30;

	margin-bottom: 10px;
}
