.heading {
	font-weight: 600;
	font-size: 50px;       /*Heading of the header*/
	line-height: 68px;
	color: #432E30;
}

.heading_center {
	text-align: center;
}

.heading_right {
	text-align: right; 
}

.heading_paragraphs {
	font-weight: 600;
	font-size: 32px;     /*Heading of the paragraphs*/
	line-height: 44px;
	color: #432E30;
} 